{% extends "homepage.html" %}

{% block body %}
{% include "navbar.html" %}


<body>
    <div class="container">


      <div class="conteudo">
        {% for foto in fotos %} <!-- para cada foto dentro da lista de fotos -->
        <a href="{{ url_for('perfil', id_usuario = foto.id_usuario) }}" class="bloco-imagem"><!--criado no models, para clicar e ir para o perfil do usuário, veja a classe Foto -->
          <img src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}" alt="Pinterest 1" /><!-- essa foto.imagem significa que estamos usando a instancia da foto/imagem da Model -->
        </a>
        {% endfor %}
      </div>
    </div>
  </body>

{% endblock %}